<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>
        <plugin 
            filename="gz-sim-diff-drive-system" 
            name="gz::sim::systems::DiffDrive">
            <left_joint>base_link_left_wheel</left_joint>
            <right_joint>base_link_right_wheel</right_joint>
            <wheel_separation>0.45</wheel_separation>  <!--base_width + 2*(wheel_length/2)
            [distance between wheel joints]-->
            <wheel_radius>0.1</wheel_radius>
            <frame_id>odom</frame_id>
            <child_frame_id>base_footprint</child_frame_id>
        </plugin>
    </gazebo>

    <gazebo>
        <plugin filename="gz-sim-joint-state-publisher-system"
                name="gz::sim::systems::JointStatePublisher">
                <joint_name>base_link_left_wheel</joint_name>
                <joint_name>base_link_right_wheel</joint_name>
        </plugin>
    </gazebo>

    <gazebo reference="caster_wheel">  <!--Adding friction coeff to reduce friction-->
        <mu1 value="0.1"/>
        <mu2 value="0.1"/>
    </gazebo>

</robot>